################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Trip/v15/Server/sqlite3/db.lock
/Trip/obj/Release/Trip.pdb
/Trip/obj/Release/Trip.Migrations.initial.resources
/Trip/obj/Release/Trip.dll
/Trip/obj/Release/Trip.csproj.GenerateResource.cache
/Trip/obj/Release/Trip.csproj.FileListAbsolute.txt
/Trip/obj/Release/Trip.csproj.CopyComplete
/Trip/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Trip/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Trip/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Trip/bin/Antlr3.Runtime.dll
/Trip/bin/System.Web.WebPages.Deployment.xml
/Trip/bin/System.Web.WebPages.Deployment.dll
/Trip/bin/System.Web.Razor.xml
/Trip/bin/System.Web.Razor.dll
/Trip/bin/System.Web.Optimization.xml
/Trip/bin/System.Web.Optimization.dll
/Trip/bin/System.Web.Mvc.xml
/Trip/bin/System.Web.Mvc.dll
/Trip/bin/System.Web.Helpers.xml
/Trip/bin/System.Web.Helpers.dll
/Trip/bin/Newtonsoft.Json.xml
/Trip/bin/Newtonsoft.Json.dll
/Trip/bin/Microsoft.Web.Infrastructure.dll
/Trip/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Trip/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/Trip/bin/Microsoft.ApplicationInsights.xml
/Trip/bin/Microsoft.ApplicationInsights.dll
/Trip/bin/Microsoft.AI.WindowsServer.xml
/Trip/bin/Microsoft.AI.WindowsServer.dll
/Trip/bin/Microsoft.AI.Web.xml
/Trip/bin/Microsoft.AI.Web.dll
/Trip/bin/Microsoft.AI.ServerTelemetryChannel.xml
/Trip/bin/Microsoft.AI.ServerTelemetryChannel.dll
/Trip/bin/Microsoft.AI.PerfCounterCollector.dll
/Trip/bin/Microsoft.AI.DependencyCollector.xml
/Trip/bin/Microsoft.AI.DependencyCollector.dll
/Trip/bin/Microsoft.AI.Agent.Intercept.dll
/Trip/bin/EntityFramework.xml
/Trip/bin/EntityFramework.SqlServer.xml
/Trip/bin/EntityFramework.SqlServer.dll
/Trip/bin/EntityFramework.dll
/Trip/bin/ApplicationInsights.config
/Trip/bin/Antlr3.Runtime.pdb
/Trip/bin/WebGrease.dll
/Trip/bin/Trip.pdb
/Trip/bin/Trip.dll.config
/Trip/bin/Trip.dll
/Trip/bin/System.Web.WebPages.xml
/Trip/bin/System.Web.WebPages.Razor.xml
/Trip/bin/System.Web.WebPages.Razor.dll
/Trip/bin/System.Web.WebPages.dll
/Trip/obj/Debug/Trip.csproj.CopyComplete
/Trip/obj/Debug/Trip.csproj.CoreCompileInputs.cache
/Trip/obj/Debug/Trip.csproj.GenerateResource.cache
/Trip/obj/Debug/Trip.dll
/Trip/obj/Debug/Trip.Migrations.initial.resources
/Trip/obj/Debug/Trip.pdb
/Trip/obj/Release/Trip.csproj.CoreCompileInputs.cache
/Trip/obj/Release/Trip.csprojAssemblyReference.cache
/Trip/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/Trip/bin/System.Diagnostics.DiagnosticSource.dll
/Trip/bin/System.Diagnostics.DiagnosticSource.xml
/Trip/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/Trip/obj/Debug/Trip.Migrations.WebInitial.resources
/Trip/obj/Release/Trip.Migrations.WebInitial.resources
