################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Trip/v15/Server/sqlite3/db.lock
/Trip/obj/Release/Trip.pdb
/Trip/obj/Release/Trip.Migrations.initial.resources
/Trip/obj/Release/Trip.dll
/Trip/obj/Release/Trip.csproj.GenerateResource.cache
/Trip/obj/Release/Trip.csproj.FileListAbsolute.txt
/Trip/obj/Release/Trip.csproj.CopyComplete
/Trip/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Trip/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Trip/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
